[Unit]
Description=Periodic JNS IoT Gateway health check

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=20s
Persistent=true

[Install]
WantedBy=timers.target
